<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipes</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/head') %>
  <%- include('../partials/header') %>
  <h2>Recipes</h2>
  <ul>
    <% recipes.forEach(recipe => { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"><%= recipe.title %></a>
        <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
  <a href="/recipes/new">Create New Recipe</a>
</body>
</html>
